<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>11267268155-0p8bp3iq0toto0gn2aa7mhq3om4u0prp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.11267268155-0p8bp3iq0toto0gn2aa7mhq3om4u0prp</string>
	<key>API_KEY</key>
	<string>AIzaSyCZRJbZWOv-WyYugvceQojR9NIct5kEsgc</string>
	<key>GCM_SENDER_ID</key>
	<string>11267268155</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>seongchan.Mise</string>
	<key>PROJECT_ID</key>
	<string>gasmask-228711</string>
	<key>STORAGE_BUCKET</key>
	<string>gasmask-228711.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:11267268155:ios:ef7bcc6bb6bb1fe1</string>
	<key>DATABASE_URL</key>
	<string>https://gasmask-228711.firebaseio.com</string>
</dict>
</plist>